.contact-form .error-contact-form {
	color:red;
}
.contact-form .inputbox {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.contact-form textarea {
    box-sizing: border-box;
    height: 100px;
    line-height: 20px;
    width: 100%;	
}
.captcha-box {
	margin:0 0 10px;
}
