.contact-form .error-contact-form {
	color:red;
}
.contact-form .inputbox {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: #acacac;
    font-family: Arial,Helvetica,sans-serif;
    height: 50px;
    line-height: 50px;
    margin: 0 0 10px;
    padding: 0 1px 0 16px;
    width: 100%;
}
.contact-form textarea {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    background: none repeat scroll 0 0 #f2f2f2;
    box-shadow: none;
    box-sizing: border-box;
    color: #acacac;
    height: 100px;
    line-height: 50px;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 0 10px;
    padding: 0 1px 0 16px;
    width: 100%;
}
.contact-form .inputbox::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
	color: #acacac;
    opacity: 1;
    filter: alpha(opacity = 100);
}
.contact-form .inputbox::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
	color: #acacac;
    opacity: 1;
    filter: alpha(opacity = 100);
}
.contact-form .inputbox:-moz-placeholder,
.contact-form textarea:-moz-placeholder {   /* Older versions of Firefox */
	color: #acacac;
    opacity: 1;
    filter: alpha(opacity = 100);
}
.contact-form .inputbox:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder { 
	color: #acacac;
    opacity: 1;
    filter: alpha(opacity = 100);
}
.contact-form .button-box {
	text-align: right;
}
.contact-form .button {
    background: none repeat scroll 0 0 #35adeb;
    border: medium none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-transform: uppercase;
    width: 50%;
}
.contact-form .button:hover,
.contact-form .button:focus {
	background:#236a8e;
}
.captcha-box {
	margin:0 0 10px;
}
